<!DOCTYPE html>
<html>

<head>
    <title>Quiz App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <h1 class="mt-5" aria-label="Quiz Results">Quiz</h1>
        <div class="result-summary">
            <h2 aria-label="Number-questions">This test has {{ num_questions }} questions</h2>
        </div>
        <h3 aria-label="Questions">Questions:</h3>

        <form method="POST" action="/submit">
            {% for question in questions %}
            <ul class="list-group mt-3">
                <li class="list-group-item question-item">
                    <p class="question-text">{{ question['question'] }}</p>
                    <div class="question" id="{{ question['question_id'] }}">
                        <input type="hidden" name="first_modified_{{ question['question_id'] }}"
                            id="first_modified_{{ question['question_id'] }}" value="{{ current_timestamp }}">
                        <input type="hidden" name="last_modified_{{ question['question_id'] }}"
                            id="last_modified_{{ question['question_id'] }}" value="{{ current_timestamp }}">
                        <ul class="answer-list">
                            {% for choice in question['choices'] %}
                            <li class="list-group-item">
                                <input type="checkbox" class="form-check-input" name="{{ question['question'] }}"
                                value="{{ choice }}" id="{{ choice }}" style="display: none;">
                            <label class="answer-text" for="{{ choice }}">{{ choice }}</label>
                                    </input>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>
            
            <div class="mt-4 text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </li>
        </form>
    </div>


    <script>
        $(document).ready(function () {
            $("input[type='checkbox']").change(function () {
                // Toggle the selected-answer class when the checkbox changes
                $(this).closest('li').toggleClass('selected-answer', this.checked);
                
                // Find the closest question div to the changed checkbox
                var questionDiv = $(this).closest('.question');

                // Get the question ID from the question div
                var questionId = questionDiv.attr('id');

                // Find the hidden input field for firstModifiedField and lastModifiedField
                var firstModifiedField = $("#first_modified_" + questionId);
                var lastModifiedField = $("#last_modified_" + questionId);

                // Check if the firstModifiedField is empty before updating
                if (!firstModifiedField.val()) {
                    // Update the first modified timestamp for this question
                    var now = new Date().toISOString().slice(0, 19).replace('T', ' ');
                    firstModifiedField.val(now);
                }

                // Update the last modified timestamp for this question
                var now = new Date().toISOString().slice(0, 19).replace('T', ' ');
                lastModifiedField.val(now);
            });

            $("#submit-button").click(function () {
                $("#quiz-form").submit();
            });
        });
    </script>

</body>

</html>